.techrider__popup {
}
.techrider{
    display: flex;
    justify-content: space-between;
    @include adaptive-value('padding-left', 100, 0, 1);
    @include adaptive-value('padding-right', 100, 0, 1);
    @include adaptive-value('padding-bottom', 150, 100, 1);
    @media screen and (max-width: 1250px){
        flex-direction: column;
    }
}
.techrider__popup{
    border-radius: 5px;
    padding-bottom: 20px;
}
.techrider__popup__content {
    @media screen and (max-width: 1250px){
        width: 97%;
        padding: 0 5px;
    }
}
.techrider__container{
    @include adaptive-value('margin-right', 50, 20, 1);
    width: 520px;
    @media screen and (max-width: 1250px){
        width: 100%;
    }
}
.popup__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(213, 98, 29, 0.1);
    height: 67px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
}
.popup__back{
    background: #D5621D;
}
.popup__title::after {
    content: '';
    top: 45%;
    @include adaptive-value('right', 40, 20, 1);
    width: 25px;
    height: 16px;
    position: absolute;
    background: url('../img/arrow-down.png') no-repeat;
    cursor: pointer;
}
.popup__title__img {
    
}
.techrider__popup__text {
    padding-left: 61px;
    background: #D5621D;
    cursor: pointer;
    padding-bottom: 25px;
    border-radius: 0px 0px 5px 5px;
    @include adaptive-value('padding-left', 61, 24, 1);
}
.techrider__popup__text-item {
    position: relative;
    font-size: 17px;
    @include adaptive-value('font-size', 17, 15, 1);
    line-height: 150%;
    color: #FFFFFF;
    top: 50%;
}
.hidden{
    display: none;
    transition:all 4s ease 0s;
}
.techrider__popup__text-item::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;
    top: 8px;
    left: -11px;
    border-radius: 50%;
}



//*******PERSON*******
.techrider__person{
    @media screen and (max-width: 1250px){
        width: 100%;
        padding-top: 100px;
        width: 100%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.person__social__inst{
    color: #fff
}
.menu__section.events__content__title.techrider__person__tite{
    font-size: 24px;
    width: 415px;
    height: 96px;
    @include adaptive-value('font-size', 24, 14, 1);
    @include adaptive-value('width', 415, 300, 1);
    @include adaptive-value('height', 96, 62, 1);
}
.techrider__person__social{
    display: flex;
    justify-content: center;
}
.techrider__person__pages{
    display: flex;
    @media screen and (max-width: 1250px){
        display: flex;
    }
    @media screen and (max-width: 425px){
        flex-direction: column;
    }
}
.techrider__person__page:first-child{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1250px){
        display: flex;
        @include adaptive-value('margin-right', 120, 10, 1);
    }
    @media screen and (max-width: 425px){
        padding-bottom: 70px;
    }
}
.techrider__person__img{
    padding-bottom: 30px;
}
.techrider__person__img img{
    @media screen and (max-width: 425px){
        @include adaptive-value('width', 270, 250, 1);
    }
}
.techrider__person__name{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.person__social__inst, .person__social__teleg{
    border: 2px solid #D5621D;
    border-radius: 5px;
    padding: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
    &:hover{
        background-color: #D5621D;
    }
}
.person__social__inst{
    margin-right: 30px;
}